#intro {
  padding: 210px 0 100px 0;
}
.right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
below(520px)
}
.right:before,
.right:after {
  content: '';
  display: table;
}
.right:after {
  clear: both;
}
.right:last-child {
  margin-right: 0%;
}
.right p {
  text-align: center;
}
.left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
below(520px)
}
.left:before,
.left:after {
  content: '';
  display: table;
}
.left:after {
  clear: both;
}
.left:last-child {
  margin-right: 0%;
}
#proposal,
#ceremony,
#reception,
#weddingparty,
#lodging,
#registries,
#venue,
#story,
#todo {
  padding: 100px 0;
}
#proposal img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
below(680px)
}
#proposal img:before,
#proposal img:after {
  content: '';
  display: table;
}
#proposal img:after {
  clear: both;
}
#proposal img:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#proposal img:nth-child(2n+1) {
  clear: both;
}
